{{page-title "My Application"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}

<h1> Hello! My name is alex, I'm new to ember for sure </h1>

{{outlet}}
